node_modules/
ios/Pods/
ios/build/
android/build/
android/app/build/
android/.gradle/
android/.cxx/
*.log
.DS_Store
._*
.ud_sentinel.txt
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
